html {
  box-sizing: border-box;
  font-family: "Lato", Open Sans, Oswald, sans-serif;
  font-size: 17px;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body{
  margin: 0 10px;
  padding: 0;
}
.content{
	border:1px solid #ff0000;
	padding: 0 15px;
	margin: 0 auto;
}

nav{
	background: #000;
	position: fixed;
	width: 100%;
	z-index: 9999;
	height: 70px;
}

.social-top{
	padding:0;
	margin: auto;
	float: left;
	padding-top: 15px;
	margin-left: 2rem;
	font-size: 2rem;
}
.social-top li, .top-menu li{
	display: inline-block;
	margin-right: 1.2em;
	color: #fff;
}
.social-top li a, .top-menu li a{
	color: #fff;
	transition: color 0.5s ease;
}
.social-top li a:hover, .top-menu li a:hover{
	color: #c03555;
}
.top-menu{
	padding-top: 15px;
	margin-right: 2rem;
	margin-left: auto;
	font-size: 1rem;
	text-align: right;
}
.introduction{
	background-image: url("../images/sunset.jpg");
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: cover;
	height: 40em;
	overflow: auto;
}
.introduction .content{
	margin-top: 10em;
	text-align: center;
	font-size: 1.2rem;
	font-weight: 400;
	color: #fff;
}
.myPhoto{
	border: 10px solid #dedede;
	border-radius: 50%;
}

.more-button{
	display: block;
	width: 15rem;
	text-shadow: none;
	border-style: none;
	border-radius: 4px;
	padding: 1em 1.2em;
	transition: background-color 1s ease;
	background: #c03555;	
	font-size: 0.8em;
	margin: 0 auto;
}
.more-button:hover{
	
	background: #ed3e67;
	cursor: pointer;
}
.projects .content h1{
	color: #000; 
	margin-left: 5.5em;
}
.project .row{
	display: block;
	width: 80%;
	margin-left: 5em;
	color: #fff;
}
.projects .content div.project{
	width: 80%;
	height: 300px;
	margin: 30px auto;
	color: #000;
	box-sizing: border-box;
	border-top: 25px solid #c03555;
	transition: border-top 1s ease;
}
.projects .content div.project:hover{
	border-top: 50px solid #ed3e67;
}
.project-button{
	border: 1px solid #fff;
	background: transparent;
	transition: background-color 0.5s ease;
	border-radius: 0.3em;
	padding: 0.5em 0.7em;
	color: #fff;
	font-size: 0.8em;
	margin-right: 3em;
}
.project-button:hover{
	background-color: #ededed;
	color: #000;
}
.karma{
	background: url('../images/karma-bg.jpg');
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: cover;
	overflow: auto;
}
footer{
	background: #971b37;
	height: 15rem;
}
.social-bottom{
	text-align: center;
	margin-top: 2em;
}
.social-bottom >li{
	display: inline-block;
	margin-right: 1.5em;
	background: #fff;
	border: 1px solid #fff;
	border-radius: 50%;
	width: 100px;
	height: 100px;
	padding:18px 14px;
	font-size: 3rem;
}